body {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff73;
    background: url(../../imgs/spiderverse.png) no-repeat center center;
    background-size: cover;
    backdrop-filter: blur( 10px );
}

@media screen and (max-width:768px) {
    body {
        background-position: left center;
        background-size: 220%;
    }
}