body {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff73;
    background: url(../../imgs/valortant.png) no-repeat left top;
    background-size: 110%;
    backdrop-filter: blur( 10px );
}

@media screen and (max-width:768px) {
    body {
        background-position: right top;
        background-size: 210%;
    }
}