body {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff73;
    background: url(../../imgs/ErenPombo2.jpg) no-repeat right top;
    background-size: 120%;
    backdrop-filter: blur( 10px );
}

@media screen and (max-width:768px) {
    body {
        background-position: top center;
        background-size: 210%;
    }
}